@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

$font: "DotGothic16", sans-serif;
$MonitorGreen: #5DFC0A; // green LED

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0;
}